{
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2
}
